/*************** For Google Maps API rendering *****************/


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    margin: 5%;
    height: 60%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/*************** For Google Maps API rendering *****************/