.wrapper {
    background-image: url("../img/home-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100% !important;
    z-index: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #e9e9e9;
}

h1 {
    color: #d9d9d9;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
    background-color: snow;
    opacity: 0.75;
    font-size: larger;
    font-weight: 900;
    /* color: #011640; */
    padding: 20px;
}

.content-wrapper img {
    height: 100vh;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(Night-Malaysia.jpg); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -40%;
}

.text-wrapper h1 {
    text-align: center;
    color: #ffffff;
    font-size: 5vw;
    font-family: "lobster", cursive;
}

.sections {
    margin: auto;
    background: snow;
    /* opacity: 0.90 */;
    background-blend-mode: 0.5;
    height: 900px;
    width: 1200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.sectionsCard {
    padding: 16px;
    height: 400px;
    width: 1000px;
}


/* hiking scroll box */

ul {
    list-style-type: none;
}

@media print,
screen and (min-width: 40em) {
    .portfolio-resume-scrolling {
        height: 795px;
        overflow-y: auto;
        width: 400px;
    }
}

hr.solid {
    border-top: 3px solid #bbb;
}

footer p {
    text-align: center;
}

.icon {
    font-size: 100px;
}